* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(142, 142, 214);
}
a:hover,
a:focus {
    color: rgb(152, 152, 224);
}
.a-plain a {
    text-decoration: none;
    color: white;
}

/* BOOTSTRAP IMG RESPONSIVE */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* BOOTSTRAP LABEL */
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: #ffffff;
}
.label {
  display: inline-block;
  margin-top: .2em;
  margin-bottom: .2em;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
a.label:hover,
a.label:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #95a5a6;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #798d8f;
}
.label-primary {
  background-color: #2c3e50;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #1a242f;
}
.label-success {
  background-color: #18bc9c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #128f76;
}
.label-info {
  background-color: #3498db;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #217dbb;
}
.label-warning {
  background-color: #f39c12;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #c87f0a;
}
.label-danger {
  background-color: #e74c3c;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #d62c1a;
}

/* BOOTSTRAP PRE & CODE */
pre {
  overflow: auto;
}
pre,
code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
pre {
  display: block;
  padding: 20px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #7b8a8b;
  background-color: #ecf0f1;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  font-size: 75%;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

/* BOOTSTRAP PANEL */
.panel {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
  margin-bottom: 21px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-default {
  border-color: #ecf0f1;
}

/* LAYOUT CSS */
#layout {
    padding-left: 25%; /* "left col (nav + list)" width */
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 28%;
    margin-left: -28%;
    padding-left: 15px;
    padding-right: 15px;
    background: rgb(24, 33, 61);
    color: #fff;
}

.header {
    margin: 50% 2em 0;
    text-align: right;
}

.brand-title {
    margin: 0;
}

.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(142, 142, 214);
}

.nav-list {
    margin: 18px 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    /*display: inline;
    zoom: 1;*/
}
.nav-item a {
    background: transparent;
    color: #fff;
    margin-top: 1em;
    padding-left:1em;
}
.nav-item a:hover,
.nav-item a:focus {
    color: rgb(142, 142, 214);
    text-decoration: none;
}

.pagination {
  display: inline-block;
  padding-left: 0;
}
.pagination > li {
  display: inline;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: left;
    padding: 1em 0;
}
.footer a {
    color: #999;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        position: relative;
        margin: 0;
    }

    .header {
        text-align: center;
        top: auto;
        margin: 3em auto;
        position: static;
    }

    #layout {
        padding: 0;
    }
}

@media (min-width: 767px) {
    .content {
        padding: 2em 3em 0;
    }
    .content-min-height {
        min-height: 450px;
    }
}
